<?xml version="1.0" ?>
<model>
    <name>fiducial_cube_03</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>JacquelineZhou</name>
        <email>jianingzhou@brandeis.edu</email>
    </author>
    <description>When the robot sees this marker_03, do nothing. Used for test and indicate the right position to put 01 and 02</description>
</model>
