<?xml version="1.0" ?>
<model>
    <name>fiducial_cube_02</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>JacquelineZhou</name>
        <email>jianingzhou@brandeis.edu</email>
    </author>
    <description>when the robot sees marker_02, it needs to turn left at the next turn</description>
</model>
